<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<display-name>Act1</display-name>
<servlet>
<servlet-name>c1</servlet-name>
<servlet-class>htt</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>c1</servlet-name>
<url-pattern>/http</url-pattern>
</servlet-mapping>

<servlet>
        <servlet-name>c2</servlet-name>
        <servlet-class>gener</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>c2</servlet-name>
        <url-pattern>/Gen</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>c3</servlet-name>
        <servlet-class>Serv</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>c3</servlet-name>
        <url-pattern>/Ser</url-pattern>
    </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>