<?xml version="1.0" encoding="UTF-8"?>

<web-app>

<servlet>
<servlet-name>Game</servlet-name>
<servlet-class>game</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Game</servlet-name>
<uel-pattern>/game</uel-pattern>
</servlet-mapping>


<welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>