<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PS23</display-name>
<servlet>
<servlet-name>c1</servlet-name>
<servlet-class>DToF</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>c1</servlet-name>
<url-pattern>/dtof</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>c2</servlet-name>
<servlet-class>CmToM</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>c2</servlet-name>
<url-pattern>/cmtom</url-pattern>
</servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>